.coach-element-profile {
    color: var(--yellow);
    margin-top:1rem;
    width:100%;
    margin:10px;
}


.modal-teams-container {
    display:grid; 
    grid-template-rows: 15% 70% 15%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}



.modal-teams-body{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}

/* .coaches-main{
    width: 50%;
} */


.players-team{
    text-align: center;
    border-bottom:1px solid var(--yellow);
    width: 50%;
    color:var(--yellow)
}

.modal-teams-player{
    /* margin-top: 1rem; */
    color: var(--main-green);
    /* display:flex; */
}

.player-element-teams {
    display: flex;
    margin-top:1.5rem;

}

.delete-teams {
    margin-left:2rem;
    cursor: pointer;
}
