


.coaches-main{
    color:var(--main-green);
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height: 100%;
    background-color: var(--main-black);
    overflow-x: hidden;
}

.title{
    font-size:30px;
    display:flex;
    align-items:center;
    margin-left: 2rem;
}

.coaches-list {
    display: flex;
}

.coach-element {
    display: grid;
    grid-template-columns: 80% 20%;
    width: 95vw;
    height: 3.5rem;
    max-width: 100%;
    margin-top:1rem;
    border-bottom:1px solid var(--main-green);
}

.coach-name{
    display:flex;
    align-items:flex-end;
    font-size: 25px;
    cursor: pointer;
}

.coach-name:hover {
    color: white;
}

.delete-update {
    color:white;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    /* width:200rem; */
    margin-bottom: 5px;
}

.delete{
    display: flex;
    margin-right:20px;
    border: 1px solid #FC4848;
    background-color: #FC4848;
    width: 5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.delete-update.hide {
    display:none;
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    margin-bottom: 5px;
}

.update{
    display: flex;
    margin-right:20px;
    border: 1px solid var(--main-green);
    background-color: var(--main-green);
    width: 5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
}

.add-coach-btn {
    display: flex;
    margin-right:20px;
    border: 1px solid var(--main-green);
    width: 10.2rem;
    height:6%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top:3rem;
}

.update:hover {
    background-color: #37ce82;
}
.delete:hover {
    background-color:#fc7373;
}


.hide-add-btn {
    display:none;
}


/* Modal */

.modal-container {
    display:grid; 
    grid-template-rows: 20% 70% 10%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}

.modal-title {
    font-size: 50px;
    color:var(--main-green);
    text-align: center;
}

.modal-body {
    display:flex;
    /* align-items: center; */
    justify-content: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: var(--main-green);
    width: 50%;
    height: 80%;
    
}

.modal-assign-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:1px solid var(--main-green);
}

.modal-input-field {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--main-green);
    text-align: center;
    border:none;
    border-bottom: 2px solid var(--main-black);
    
    font-size: medium;
    width: 20rem;
    /* height: 17%; */
    margin:auto;
}

.modal-input-field::placeholder{
    color:var(--main-black);
}

.modal-input-field:focus {
    outline:none;
}

.modal-input-field:focus::placeholder {
    color:transparent;
}

.modal-footer{
    display: flex;
    
    justify-content: center;
}

.modal-add-btn{
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color:var(--main-green);
    width:10%;
    height:2rem;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}

.ReactModal__Overlay {
    opacity: 0;
    /* transform: translateX(-100px); */
    transition: all 400ms ease-in-out;
    
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
    /* transform: translateY(-500px); */
  }


  /* DetailviewModal */
.modal-detail-header-player {
    background-color: var(--main-green);
    font-family: 'Graduate', cursive;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.modal-detail-header-player h1 {
    color: var(--main-black)
}

.modal-main-container-detail {
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
    /* background-color: black; */
    display: grid;
    grid-template-rows: 15% 85%;
}

.modal-container-detail {
    /* width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%; */
    /* background-color: black; */
    display: grid;
    grid-template-columns: 60% 40%;

}

.select-parent {
    margin-top:2rem;
    /* display:flex;
    justify-content: end; */
}

.assign-button {
    margin-top: 1rem;
    /* background-color: red; */
    border:2px solid var(--main-green);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width:10rem;
    color:white;
    cursor:pointer;
    border-radius: 10px;
}

.assign-button:hover {
    background: #2c2c2c;
}



.option {
    /* height:rem; */
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--main-black);
    border:1px solid var(--main-green);
    height:2rem;
    width: 10rem;
    color:white;
    text-align: center;
    position: relative;
    display: flex;
    line-height: 3;
    cursor:pointer;
    overflow: hidden;
    border-radius: .25em;
    
}

.option:focus{
    outline:none;
}

.modal-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-container {
    /* background-color: red; */
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container-no {
    /* background-color: red; */
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options {
    height:3rem;
}

.runner {
    margin-left:2rem;
}

#image {
    height:auto;
    width: 220px;
    /* max-height: 100%;
    max-width: 100%; */
}

.personalia-detail-view p{
    margin-top: 1rem;
}

.hidden-personalia {
    margin:auto;
    color:white;
}

.modal-right{
    display: grid;
    grid-template-rows: 50% 50%;
}

.modal-detail-header {
    display:flex;
    align-items: center;
}

.personalia-img img {
    margin-top:0.8rem;
}

.modal-detail-body {
    font-size: 20px;
    margin-top: 5rem;
    display:grid;
    grid-template-columns: 20% 80%;
}

.modal-detail-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:8rem;

}

.personalia-parent {
    color:white;
    display:grid;
    grid-template-columns: 80% 20%;
    border-bottom: 1px solid white;
}

.modal-detail-parent p{
    color:white;
    font-size:large;
}

.modal-detail-body p {
    color:white;
    font-size: large;
}

.modal-detail-footer {
    display:grid;
    max-width:100%; 
    max-height: 100%;

}

.modal-detail-children {
    color:white;
    display:flex;
    flex-direction: column;
    margin-top:8rem;
    align-items: center;
}

.children-title-div {
    border-bottom:1px solid white;
    display:grid;
    grid-template-columns: 75%25%;
}
.children-title-div img {
    margin-top: 10px;
}

.children-parent {
    margin-top:1rem;
    
}
.children-parent p{
    color:white;
}

.injury-section{
    background-color: var(--main-black);
    display:grid;
    grid-template-rows: 20% 80%;
    padding:10px;
    height: 80%;
    width: 80%;
    color: #CFCCD6; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.injury-section-detail{
    
    display:grid;
    grid-template-rows: 20% 80%;
    padding:10px;
    height: 60%;
    width: 70%;
    color: #CFCCD6; 
    border:3px solid #247BA0;
    box-shadow: 0px 3px var(--main-green);
   
    
}

.user-feedback-false {
    margin-top:10px;
    color:red;
    
}

.user-feedback-true {
    margin-top:10px;
    color:green;
}

.injury-header {
    padding:10px;
    border-bottom: 1px solid #CFCCD6;   
}

.injury-header-detail {
    /* padding:10px; */
    border-bottom: 1px solid #CFCCD6; 
    display: grid;
    grid-template-columns: 80% 20%;  
    
}

.injury-med {
    display: flex;
    justify-content: center;
    
}

.injury-med img {
    margin-bottom:10px;
}

.injury-title {
    padding:10px;
}

.injury-body {
    padding:10px;
    display: flex;
    align-items: center;
}

.injury-body p{
    color:white;
}

.modal-right-parent {
    display: grid;
    grid-template-rows: 30% 40%;
    
}

.modal-detail-header-parent {
    display:flex;
    align-items: center;
}


.modal-container-detail-parent{
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
    /* background: linear-gradient(90deg, var(--main-black) 30%, #CFCCD6 0%); */
    display: grid;
    grid-template-rows: 15% 85%;
}

.modal-body-parent {
    display:grid;
    grid-template-columns: 50% 50%;
}




/* Assign Coach to team modal */

.assign-coach-body {
    display:grid; 
    grid-template-columns: 50% 50%;
}

.coaches-teams{
    display:grid;
    grid-template-rows: 15% 85%;

}

.coaches-teams-header {
    display:flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding:10px;
    /* margin-left:10px; */
    margin-top:2rem;
}

.teams-header-cont {
    display: flex;
    justify-content: center;
    border-bottom:1px solid #247BA0;
    width: 50%;
}

.teams-image-big {
    width: 100%;

}

.allteams-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100%;
}

.all-teams {
    display: grid;
    grid-template-rows:10% 60% 30%; 
}

.all-teams-image-container {
    display:flex;
    align-items: center;
    justify-content: center;
}



.coaches-teams-body {
    margin-top:2rem;
    display: flex;
   
    align-items: center;
    color:white;
    flex-direction: column ;
}

.teams-coach {
    margin-top:1rem;
}

.personalia-parent-detail-view {
    justify-content: center;
    width: 100%;
    display: flex;
}

.detail-label {
    margin-top:1rem;
}

.detail-label p {
    margin-top:2.5rem;
}

.info {
    width: 100%;
    display:grid;
    grid-template-columns: 40% 60%;
}

.select-div {
    display:flex;
   justify-content: center;
   align-items: flex-start;
}

.select-team {
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
    width:60%;
    height:30%;
    background-color: var(--main-black);
    border:2px solid #FF9800;
    border-radius: 10px;
    color:white;
    text-align: center;

}

.select-team:focus {
    outline:none;
}