.parent-profile-container {
    display:grid; 
    grid-template-rows: 20% 80%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
   
}

.parent-profile-header {
    display:flex;
    justify-content: center;
    align-items: center;
}

.parent-profile-body {
    display:grid; 
    grid-template-columns: 50% 50%;
}

.parent-profile-left {
    display:grid;
    grid-template-rows: 50% 50%;
    /* justify-content: center; */
}

.personalia-header {
    display:flex;
    align-items: center;
    border-bottom:2px solid #247BA0;
}

.personalia-header h2 {
    margin-left:10px
}

.personalia{
    margin-left:6rem;
    padding:10px;
    display: grid;
    grid-template-rows: 20% 80%;
    
    border:3px solid #247BA0;
    /* border-radius: 10px; */
    width: 50%;
    box-shadow: 0px 2px var(--main-green);
   
}

.update-cont {
    width:50%;
    margin-left:6rem;
}

.personalia-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.personalia-content p{
    font-size: 20px;
    margin-top: 1rem;
    
    
    color:var(--yellow);
    
}


.parent-profile-right {
    display:grid;
    grid-template-rows: 40% 60%;

}

.right-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.children-header {
    color: var(--yellow);
    border-bottom: 2px solid #247BA0;
    width:100%;
    display:flex;

    
    /* padding:10px; */
}

.children-header h3 {
    margin-left: 10px;
}

.children-body{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.child-element {
    color: var(--yellow);
    cursor:pointer;
    margin-top:1rem;
    width:20%;
}

.children-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.children-cont-main {
    /* background-color: red; */
    margin-bottom: 3rem;
    width: 50%;
    height: 50%;
    padding:10px;
    border:3px solid #247BA0;
    box-shadow: 0px 2px var(--main-green);
    display:grid;
    grid-template-rows: 20% 80% ;
}

.modal-child-container {
    display:grid; 
    grid-template-rows: 15% 70% 15%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}

.modal-child-header {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.modal-child-body{
    display: grid;
    grid-template-rows: 40%60% ;
}

.upper-modal-child-body {
    display:grid;
    grid-template-columns: 33% 33% 33%;
}

.lower-modal-child-body{
    display: grid;
    grid-template-rows: 90% 10%;
}

.personalia-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3px;
}


.personalia-child p{
    margin-top: 1rem;
    margin-bottom:1em;
}


.personalia-child-db {
    display: flex;
    flex-direction: column;
    padding:3px;  
}

.personalia-child-db p {
    margin-top: 1rem;
    margin-bottom:1em;
}

.personalia-update {
    display: flex;
    flex-direction: column;
    
}

.input {
    font-family: 'Josefin Sans', sans-serif;
    margin-top:1em;
    margin-bottom:1em;
    width:60%;
    background-color: var(--main-black);
    border: 1px solid var(--main-green);
    padding:3px;
    border-radius: 5px;
    text-align: center;
    color:white;
}

.input:focus {
    outline:none;

}

.input:focus::placeholder {
    color:transparent;
}

.image-header {
    display: flex;
    justify-content: center;
}



.image-container-profile{
    height: 100%;
    width: 30%;
    max-height: 100%;
    max-width: 30%;
    
}

#profile-pic {
    height:100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    
}

.setImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.setImage input {
    width: 50%;
}

.modal-child-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-child {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    color: var(--main-green); 
    width:10%;
    height:2rem;
    border-style: solid;
    border-radius: 10px;
    cursor: pointer;
}

.left-footer {
    display:flex;
    justify-content: center;
}

.update-parent {
    margin-top: 3rem;
    height:10%;
    width:30%;
    /* background-color: red; */
    border:3px solid var(--main-green);
    box-shadow: 0px 2px #247BA0;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color:white;
    cursor:pointer;
}

.update-parent:hover {
    background-color: var(--main-green);
}
