label {
    color: var(--main-green);
}

.title{
    font-size:30px;
    display:flex;
    align-items:center;
    margin-left: 2rem;
}

.send-btn {
    display: flex;
    margin-right:20px;
    border: 1px solid var(--main-green);
    width: 14.2rem;
    height:6%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    margin-top:3rem;
}

.message {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
}

.field {
    margin: 2rem;
}
