

.modal-form-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /* background-color: var(--main-green); */
    width: 50%;
    height: 80%;
}

.modal-input-field-update {
    font-family: 'Josefin Sans', sans-serif;
    background-color: transparent;
    text-align: center;
    border:none;
    /* border-bottom: 2px solid var(--main-black); */
    border:2px solid #247BA0; 
    font-size: medium;
    width: 20rem;
    height:2rem;
    /* height: 17%; */
    margin:auto;
    color: white;
}

.modal-input-field-update::placeholder{
    color:rgb(143, 143, 143);
}

.modal-input-field-update:focus {
    outline:none;
}

.modal-input-field-update:focus::placeholder {
    color:transparent;
}

.update-input-div{
    margin-top:4rem;
}


.modal-header-update {
    border-bottom: 1px solid var(--main-green);
    display:flex;
    align-items: center;
    justify-content: center;
}

.modal-header-update h1 {
    color:white;
    font-size: 35px;
}

.modal-add-btn-update {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 8rem;
    background-color: #247BA0;
    border: 2px solid var(--main-green);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.modal-add-btn-update:hover{
    background-color: var(--main-green);
}