.yourteam-players-title{
    text-align: start;
    border-bottom:1px solid var(--yellow);
    width: 50%;
    color:var(--yellow)
}

.modal-yourteams-container {
    display: grid;
    grid-template-rows: 15% 85%;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

.modal-yourteams-body{
    display: grid;
    padding:20px;
    grid-template-columns: 40% 20% 40%;
    
}

.yourteams-left {

    overflow-y: scroll;
    
}

.add-player-to-team {
    color:white;
}

.yourteams-right {
    display:grid;
    grid-template-rows: 20% 10% 70%;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
/* 
.background-image {
    display:flex;
    align-items: center;
    justify-content: center;
} */

.input-jersey {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/svg/jersey.svg");
    background-repeat: no-repeat;
    background-position: center;
    
}

.input-jerseyNr {
    font-size: 20px;
    width: 4rem;
    height: 4rem;
    border-radius: 30px;
    border:2px solid #FF9800;
    background-color: transparent;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

.input-jerseyNr::placeholder{
    color:rgb(66, 63, 63);
}

.input-jerseyNr:focus{
    outline:none;
}

.input-jerseyNr:focus::placeholder{
    color:transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.modal-jersey-container {
    display:grid; 
    grid-template-rows: 15% 70% 15%;
    width: 100vw;
    height: 100vh;
    max-width:100%; 
    max-height: 100%;
}

.modal-jersey-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-child-header {
    border-bottom:1px solid var(--main-green)
}

.modal-jersey-header {
    border-bottom:1px solid #FF9800;
}
.modal-jersey-header h3 {
    color:white;
    text-align: center;
}

.modal-child-header h2 {
    color:white;
}

.add-player-team{
    display:grid;
    margin-top: 1.5rem;
    grid-template-columns: 75% 25%;
    border-bottom: 1px solid white;
}

.modal-child-header h1 {
    color:white; 
}

.add-teams {
    margin-left: 2rem;
    cursor: pointer;
    background-color: var(--success);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width: 3rem;
    color:white;
    margin-bottom: 7px;
}

.modal-teams-player {
    display:flex;
    align-items: center;
    justify-content: flex-start;
    color:white;
}

.add-player-to-team {
    display:grid; 
    grid-template-columns: 80% 20%;
    
}

.add-image-container {
    display: flex;
    align-items: flex-start;
    margin-top: 0.83em;
}

.player-element-teams{
    /* width: 50%; */
   height:60px;
    display:grid;
    margin-top: 2.5rem;
    grid-template-columns: 50% 20% 20%;
    border-bottom: 1px solid white;
}

.delete-teams{
    margin-left: 3rem;
    cursor: pointer;
    background-color: var(--error);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width: 4rem;
    color:white;
    margin-bottom: 7px;
    margin-top: 1rem;
}

.add-teams:hover{
    background-color: green;
}

.delete-teams:hover {
    background-color: red;
}

.search-box{
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
    height: 30px;
    border:none;
    background-color: transparent;
    width: 100%;
    margin-left: 10px;
    color:white;
}
.search-box:focus {
    outline:none;
}



.search-player{
    display: flex;
    border:solid 2px #247BA0;
    border-radius: 10px;
    padding:10px;
    width: 60%;
    align-items: center;
    margin-bottom:1rem;


}

.search-result {
    height: 100%;
  /* border: 1px solid white; */
  overflow: hidden;
  overflow-y: scroll;
}


.add-jerseynr {
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width: 8rem;
    background-color: #247BA0;
    border:2px solid #FF9800;
    border-radius: 10px;
    color:white;
    cursor: pointer;
}

.add-jerseynr:hover {
    background-color: var(--main-green);
    border-color: var(--main-green);
}

.jerseyNr-mapped {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-attachment: fixed; */
    background-image: url("../assets/svg/jersey.svg");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    color:white;
    margin-bottom: 3px;
}
