.users-main {
  display: flex;
  justify-content: space-evenly;
}

.users-box {
  width: 30em;
}

.users-list-container {
  height: 30em;
  border: 1px solid white;
  overflow: hidden;
  overflow-y: scroll;
}

.user-item {
  border-bottom: 1px solid white;
}

.user-item-list {
  list-style-type: none;
  margin: 0;
  padding-left: 1em;
}

.user-form-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.form-select {
  width: 100%;
  border: none;
  padding: 0.6em 1em;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0.6em 1em;
}
