/* Global button styling */

/* Set font for all buttons, as it is not inherited from html/body */
button {
    font-family: 'Josefin Sans', sans-serif, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.main-btn {
    padding: 0.5em;
    text-align: center;
    color: var(--main-green);
    border: 1px solid var(--main-green);
    background-color: transparent;
    width: 7em;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.add-btn {
    padding: 0.5em;
    text-align: center;
    color: white;
    background-color: var(--main-green);
    border: 1px solid var(--main-green);
    width: 7em;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.add-btn:disabled {
    opacity: 0.5;
    cursor: progress;
}
