.main-box {
  /* Calling this "main-component" will make it inherit properties. From where?? */
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.main-header {
  margin-top: 1em;
  font-size: 4em;
}
