.info-container {
  border: 1px solid white;
  width: 30%;
}

.red {
  border: 1px solid #d64045;
  background-color: #d64045;
}

.green {
  border: 1px solid #26ab68;
  background-color: #26ab68;
}

.title-container {
  border-bottom: 1px solid white;
  margin-bottom: 0.5em;
}
