.row-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
}

.row-item {
  width: 20%;
  align-self: center;
}

p {
  margin: 0;
}

.p-first {
  margin-bottom: 0.5em;
}
